@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}


:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --gray-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
}


button:focus, input:focus{
    outline: none;
}

.container{
    width: 80%;
    margin: auto;
}
.container h3{
    font-size: 1.2rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.center{
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
}
.center h2{
    color: var(--dark-blue);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.center p{
    font-size: 0.9rem;
    color: var(--gray-blue);
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    line-height: 1.4;
}



body{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

#menu{
    display: none;
    position: absolute;
    top: -1200px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 4;
    padding: 4rem 2rem;
    text-align: center;
    background-color: hsla(229, 31%, 21%, 0.959);
}

#menu .head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}


#menu .head img{
    margin: 0 4rem;
}

#menu li{
    padding: 1rem 0;
    /* margin-bottom: 2rem; */
    border-bottom: 1px solid hsla(230, 20%, 47%, 0.959);
}

#menu li a{
    font-size: 0.9rem;
    color: #fff;
    transition: all 0.3s ease;
}
#menu li a:hover{
    color: var(--soft-red);
}

#menu ul{
    width: 50%;
    margin: auto;
    border-top: 1px solid hsla(230, 20%, 47%, 0.959);
}

#menu button{
    display: inline-block;
    margin-top: 2rem;
    width: 50%;
    border: 2px solid #fff;
    color: #fff;
    padding: 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}
#menu button:hover{
    background-color: #fff;
    color: var(--dark-blue);
}

#menu .social{
    position: absolute;
    left: 45%;
    bottom: 2%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.social img{
    margin: 0 1rem;
}

#menu-btn{
    display: none;
}





/* the header */
header .container{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -0.5rem;
}

header nav li{
    display: inline;
    padding: 0 2rem;
}

header nav a,
header nav button{
    font-size: 0.75rem;
    color: var(--dark-blue);
    cursor: pointer;
    transition: all 0.3s ease;
}
header nav a:hover{
    color: var(--soft-red);
}

header nav button{
    border: 1px solid var(--soft-red);
    background-color: var(--soft-red);
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 4px var(--gray-blue);
}

header nav button:hover{
    background-color: transparent;
    color: var(--soft-red);
}







/* showcase */
#showcase{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#showcase .overlay{
    background-color: var(--soft-blue);
    position: absolute;
    right: 0;
    bottom: 10%;
    height: 60%;
    width: 45%;
    border-bottom-left-radius: 50%;
}

.showcase_inner{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
}
.showcase_inner > div{
    align-self: center;
}

.showcase_inner h2{
    font-size: 2.5rem;
    color: var(--dark-blue);
}

.showcase_inner p{
    color: var(--gray-blue);
    font-size: 1rem;
    margin: 2rem 0;
}

.showcase_inner .chrome{
    padding: 0.8rem 2rem;
    background-color: var(--soft-blue);
    color: #fff;
    font-size: 0.8rem;
    border: 2px solid var(--soft-blue);
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}
.chrome:hover{
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

.showcase_inner .firefox{
    padding: 0.8rem 2rem;
    background-color: #eee;
    color: var(--dark-blue);
    font-size: 0.8rem;
    box-shadow: 2px 2px 4px var(--gray-blue);
    border: 2px solid #eee;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}
.firefox:hover{
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    box-shadow: none;
}



















/* main */
#features,
#download,
#questions{
    position: relative;
    padding: 4rem 0;
}



/* features */

#features .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 40%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: var(--soft-blue);
}

.features_inner{
    position: relative;
    z-index: 2;
}

.tabs{
    padding: 3rem 0;
    text-align: center;
}

.tabs ul{
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}

.tabs li{
    display: inline;
    padding: 0 3rem 1rem 3rem;
    color: var(--gray-blue);
    font-size: 0.9rem;
    cursor: pointer;
}
.tabs li:hover{
    color: var(--soft-red);
}



/* tabs content */
.tab_a_content,
.tab_b_content,
.tab_c_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
    text-align: center;
}


.tab_a_content .text,
.tab_b_content .text,
.tab_c_content .text{
    align-self: center;
    padding: 0 4rem;
    text-align: left;
}

.tab_a_content p,
.tab_b_content p,
.tab_c_content p{
    color: var(--gray-blue);
    margin-bottom: 2rem;
}

.tab_a_content a,
.tab_b_content a,
.tab_c_content a{
    display: inline-block;
    background-color: var(--soft-blue);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 4px var(--gray-blue);
    transition: all 0.3s ease;
}

.tab_a_content a:hover,
.tab_b_content a:hover,
.tab_c_content a:hover{
    transform: scale(1.2);
    box-shadow: none;
}












/* download */
.download_inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 2rem;
    padding: 2rem;
}

.download_inner > div{
    position: relative;
    padding: 2rem;
    text-align: center;
    box-shadow: 4px 4px 9px #ccc;
    border-radius: 0.5rem;
}
.download_inner > div + div{
    top: 50px;
}
.download_inner > div + div + div{
    top: 100px;
}

.download_inner > div h3{
    margin: 2rem 0 1rem 0;
}

.download_inner > div p{
    font-size: 0.9rem;
    color: var(--gray-blue);
    margin-bottom: 1rem;
}

.download_inner > div a{
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
    padding: 0.8rem;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--soft-blue);
    border-radius: 0.2rem;
    border: 2px solid var(--soft-blue);
    transition: all 0.3s ease;
}

.download_inner > div a:hover{
    background-color: transparent;
    color: var(--soft-blue);
}















/* questions */
#questions .top{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0.2rem;
}

#questions .center{
    margin-top: 2rem;
}

#questions .center a{
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--soft-blue);
    color: #fff;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}
#questions .center a:hover{
    transform: scale(1.2);
}

#questions p{
    color: var(--gray-blue);
    font-size: 0.85rem;
    line-height: 1.5;
}

#questions .top h3{
    margin: 0;
    font-weight: 400;
    font-size: 1.1rem;
}

#questions .top img{
    position: absolute;
    right: 4px;
    cursor: pointer;
}

#questions .close{
    transform: rotate(180deg);
}


.questions_inner{
    width: 40%;
}



#q-a{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#q-b,
#q-c,
#q-d{
    border-bottom: 1px solid #ccc;
}


/* answers */
#ans-a,
#ans-b,
#ans-c,
#ans-d{
    padding: 0 2rem;
    position: relative;
    top: -50px;
}





















form{
    padding: 2rem 0;
    background-color: var(--soft-blue);
}

form .center{
    width: 50%;
}

form .center span{
    color: #fff;
    font-size: 0.9rem;
}

form .center h2{
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}


form input{
    padding: 0.8rem 2rem 0.8rem 0.8rem;
    border: 0;
    border-radius: 0.2rem;
    font-size: 0.8rem;
}

form button{
    padding: 0.8rem;
    font-size: 0.8rem;
    color: #fff;
    border: 0;
    border-radius: 0.2rem;
    background-color: var(--soft-red);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: red;
    transform: scale(1.2);
}




footer{
    background: var(--dark-blue);
    padding: 4rem 0;
}

.footer_inner{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footer_inner li{
    display: inline;
    padding: 0 2rem;
}

.footer_inner li a{
    font-size: 0.8rem;
    color: var(--gray-blue);
    transition: all 0.3s ease;
}

.footer_inner li a:hover{
    color: var(--soft-red);
}

.footer_inner > ul + ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_inner > ul + ul img{
    cursor: pointer;
}











































/* media queries */
@media screen and (max-width: 1100px){



    .container{
        width: 80%;
    }


    #showcase{
        /* display: block; */
        height: 70vh;
    }

    #showcase .overlay{
        top: 20%;
        height: 40%;
        width: 70%;
        border-bottom-left-radius: 30%;
    }
    

    .showcase_inner{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }


    .showcase_inner .text{
        padding: 2rem 4rem;    
    }


    /* main */
    #features,
    #download,
    #questions{
        padding: 2rem 0;
    }
    


    /* features */
    /* tabs */
    #features .overlay{
        top: 50%;
        width: 60%;
        height: 25%;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
    }
    
    .features_inner{
        width: 60%;
        margin: auto;
    }
    
    .tabs ul{
        width: 50%;
        border: 0;
    }

    .tabs li{
        display: block;
        padding: 1rem 0;
        background-color: rgb(255, 251, 251);
    }
    
    .tab_a_content,
    .tab_b_content,
    .tab_c_content{
        grid-template-columns: none;
        grid-gap: 2rem 0;
        padding: 1rem 0;
    }
    
    .tab_a_content .text,
    .tab_b_content .text,
    .tab_c_content .text{
        padding: 2rem;
        text-align: center;
    }
    
    
    /* download */
    .download_inner{
        grid-template-columns: none;
        grid-gap: 2rem 0;
        padding: 2rem;
    }
    
    .download_inner > div + div{
        top: 0;
    }
    .download_inner > div + div + div{
        top: 0;
    }
    
    
    
    
    /* questions */
    
    
    .questions_inner{
        width: 50%;
    }
    
    
    
    
    
    form .center{
        width: 60%;
    }
    
    
    footer{
        background: var(--dark-blue);
        padding: 4rem 0;
    }
    
    .footer_inner{
        display: block;
        text-align: center;
    }
    
    .footer_inner li{
        display: block;
        padding: 0;
        margin-bottom: 1rem;
    }
    
    .footer_inner li a{
        font-size: 0.8rem;
        color: var(--gray-blue);
        transition: all 0.3s ease;
    }
    
    .footer_inner > ul + ul{
        margin-top: 4rem;
        display: block;
    }
    .footer_inner > ul + ul li{
        display: inline;
        padding: 0 2rem;
    }
    
    
        
}













@media screen and (max-width: 768px){

    
    /* change to hamburger menu */
    header nav{
        display: none;
    }

    #menu-btn{
        display: block;
        position: absolute;
        right: 10%;
        top: 2rem;
    }

    #menu{
        display: block;
    }

    
    .container{
        width: 90%;
    }

    .center,
    .tabs ul{
        width: 60%;
    }

    .questions_inner,
    form .center{
        width: 70%;
    }
    
}







@media screen and (max-width: 630px){



    #menu .head{
        margin-bottom: 4rem;
    }
    #menu ul{
        width: 90%;
    }
    #menu button{
        width: 90%;
    }
    #menu .social{
        left: 35%;
    }
    
    

    #showcase{
        height: auto;
    }
    #showcase .overlay{
        top: 5%;
        height: 32%;
    }

    #showcase img,
    #features img,
    form input,
    form button{
        width: 100%;
    }

    #showcase h2{
        font-size: 1.6rem;
    }
    
    .showcase_inner .text{
        padding: 1rem;    
    }

    .center{
        width: 80%;
    }

    .tabs ul,
    .questions_inner,
    form .center{
        width: 90%;
    }

    #features .overlay{
        top: 45%;
        width: 65%;
        height: 26%;
    }
    

    .chrome,
    .firefox{
        display: inline-block;
        margin: 0.5rem 0;
        width: 100%;
    }
    

    .download_inner > div img{
        width: 50%;
    }
    .download_inner > div .line{
        width: 100%;
    }

    form input{
        margin-bottom: 1rem;
    }
}







@media screen and (max-width: 340px){
    .container{
        width: 95%;
    }
}
































.hide{
    display: none !important;
}

.current{
    color: var(--dark-blue) !important;
    border-bottom: 4px solid var(--soft-red);
}

.ans{
    opacity: 0;
    animation: ans 0.3s 0.1s ease forwards
}
@keyframes ans{
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        top: 0;
        padding: 2rem;
    }
}

.show_menu{
    animation: open 0.5s 0.1s ease forwards;
}
@keyframes open{
    100%{
        top: 0;
    }
}
.hide_menu{
    animation: close 0.5s 0.1s ease forwards;
}
@keyframes close{
    100%{
        top: -1200px;
    }
}



#error{
    display: inline-block;
    margin-top: 1rem;
    color: #fff;
    padding: 0.3rem 0.5rem;
    background-color: var(--soft-red);
    font-size: 0.7rem;
    font-style: italic;
    border-radius: 0.2rem;
}
